In [28]:
import pandas as pd
import numpy as np

In [4]:
data = {'Species':['Sea holly', "Sand couch","Sea bindweed","Sporobolus pungens","Echinophora spinosa"],
'Number(n)':[2,8,1,1,3],
'n(n-1)':[2,56,0,0,6]}
data = pd.DataFrame(data)

In [5]:
data

               Species  Number(n)  n(n-1)
0            Sea holly          2       2
1           Sand couch          8      56
2         Sea bindweed          1       0
3   Sporobolus pungens          1       0
4  Echinophora spinosa          3       6

In [8]:
data.var()['Number(n)']

8.5

In [25]:
def SimpsonD(var):
    # formula: D = 1 - (sum(n*(n-1))/N(N-1))
    # N: the total number of cases of all categories 
    N = sum(var) 
    top = [(n*(n-1)) for n in var]
    D = round(1- sum(top)/(N*(N-1)),1)
    return D

In [26]:
SimpsonD(data['Number(n)']) # the closer to 1, the more diverse the community

0.7

In [29]:

def ShannonH(var):
    # formula: HREL = -sum(f/N * log_2 (f/N))
    # f_i = the number of cases in the ith category
    # N = the number of cases in a sample
    N = sum(var)
    p = [n/N for n in var]
    H = -sum(p * np.log2(p))
    return H

In [30]:
ShannonH(data['Number(n)']) # the higher the number, the more diverse the community

1.8565647621309542